<!DOCTYPE html>

{% extends 'base.html' %}

<html lang="en">

  
  <body>
    
    {% block content %}
      <div class="projects_container">
      	<div class="header">
      		<h1>Data, insights, tinkering.</h1>
      	</div>
        {% for project in context %}
          <div class="project_entry">
            <h2>
              <a href={{project.reflink}}>{{project.project}}</a>
            </h2>
              <p>{{project.description}}</p>
          </div>
        {% endfor %}
      </div>
    {% endblock %}

  </body>

</html>
