@import "scss/_functions.scss";
@import "scss/_mixins.scss";
@import "scss/_variables.scss";
@import "scss/mixins/_breakpoints.scss";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/*Sass mixins*/
@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

/*CONSTANTS*/
/*sizes*/
$banner_height:15vh;
$side_padding:3vw;
$fullwidth:100vw;
$fullheight:100vh;
$sidebarwidth:20vw;
/*colors*/
$forestgreen:#012800;
$green:#024e00;
$white:#fff;
$lightgray:#CFCFCF;

/*TAGS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CLASSES*/
.container {
    display: grid;
    height:$fullheight;
    width:$fullwidth;
    grid-template: $banner_height 10vh 10vh 30vh 10vh 1fr / 10vw 15vw 15vw 1fr; 
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: 0;
}

.wrapper {
    display: flex;
    align-items: stretch;
    background-color:$lightgray;
    min-width:$fullwidth;
}

.header {
    h1 {
        display:table-cell;
        vertical-align: bottom;
        align-self:end;
        padding-bottom:1vw;
        text-indent:5vw;
        white-space: nowrap;
        grid-area: 1 / 1 / 1 / span 5;
        width: $fullwidth;
        height:$banner_height + 5vh;
        font-size: 6.5vw;
        font-weight:bold;
        color: $lightgray;
        background-color:$forestgreen;
        @include media-breakpoint-up(sm) {
            width:$fullwidth - $sidebarwidth;
        }
        @include media-breakpoint-up(lg) {
            font-size: 65px;
        }
    }
}

/*Sidebar*/
.sidebar {
    display:none;
    &.active {
        margin-left: -250px;
    }
    @include media-breakpoint-up(sm) {
        & .sidebarimage {
            width: 100%;
            height: auto;
            max-width: 50vw;
            position: relative;
            float: left;
        }
        display: flex;
        background: $forestgreen;
        color: $white;
        transition: all 0.3s;
        min-width: $sidebarwidth;
        max-width: $sidebarwidth;
        min-height: 50vh;
        flex-direction: column;
        position: relative;
        z-index: 0;
        ul li a {
            font-weight: bold;
            color: $lightgray;
            padding: 10px;
            font-size: 1.1em;
            display: block;
            &:hover {
                color: $white;
                background: $green;
                text-decoration: none;
            }
        }
        ul.components {
            padding: $side_padding 0;
            border-bottom: 1px solid $forestgreen;
            text-indent: .5vw;
            font-size: 1.5vw;
        }
    }
    @include media-breakpoint-up(xl) {
        min-width: 240px;
        max-width: 240px;
    }
}

/*Bottom Bar (narrow screens)*/
.bottombar {
    @include media-breakpoint-up(sm) {
        display:none;
    }
    background: $forestgreen;
    color: $white;
    transition: all 0.3s;
    display: flex;
    flex-direction: column-reverse;
    min-width: 100%;
    max-height: $banner_height;
    position: fixed;
    bottom: 0;
}

.bottombarcol {
    @include media-breakpoint-up(sm) {
        display:none;
    }
    text-align:center;
    line-height: $banner_height;
    background: $forestgreen;
    padding:0;
    a {
        font-weight:bold;
        color: $lightgray;
        text-align: center;
        line-height: $banner_height;
        width: 100%;
    }
}

button.btn.btn_bottombar {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: $forestgreen;
    color: $lightgray;
    &:hover {
        background-color: $green;
        color: $white;
    }
}

.footerclass {
    color: $lightgray;
    font-size:2vh;
}