@import "scss/_functions.scss";
@import "scss/_mixins.scss";
@import "scss/_variables.scss";
@import "scss/mixins/_breakpoints.scss";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

$banner_height:15vh;
$side_padding:3vw;
/*colors*/
$forestgreen:#012800;
$green:#024e00;
$white:#fff;
$gray:#FAFAFA;
$setgrey:#afafaf;
$gray2:#999;
$lightgray:#CFCFCF;

/*TAGS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
    width: 30vw
}

label {
    color:$gray2;
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

th, td {
    text-align:center
}

h1 {
    color: $setgrey;
    background-color: inherit;
    vertical-align: bottom;
    height: 20vh;
    font-size: 6.5vw;
    width: 100vw;
    display:table-cell;
    white-space: nowrap;
    font-weight:bold;
    @include media-breakpoint-up(lg) {
        font-size: 65px;
        width:80vw;
    }
}

h3.sidebarlogo {
    margin-top:5px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: $gray;
}

p {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: $gray2;
    margin-left:$side_padding;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $green;
}

/*CLASSES*/
.container {
    display: grid;
    height:100vh;
    width:100vw;
    grid-template: $banner_height 10vh 10vh 30vh 10vh 1fr / 10vw 15vw 15vw 1fr; 
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: 0;
}

#bootstrap-override .container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
    display: flex;
    align-items: stretch;
    background-color:$lightgray;
    min-width:100vw;
}

.header {
    background-color:$forestgreen;
    grid-area: 1 / 1 / 1 / span 5;
    text-indent:5vw;
    height:$banner_height;
    align-self:end;
    width:100vw;
}

.headerlist {
  background-color: $forestgreen;
  text-indent: 5vw;
  height: 15vh;
  align-self: end;
}

/*Bottom Sidebar*/
.bottombar {
    background: $forestgreen;
    color: $white;
    transition: all 0.3s;
    display: flex;
    flex-direction: column-reverse;
    min-width: 100%;
    /*min-height: 15vh;*/
    max-height: 15vh;
    position: fixed;
    bottom: 0;
    @include media-breakpoint-up(lg) {
        display:none;
    }
}

button.btn.btn_bottombar {
    width: 100%;
    background-color: $green;
    color: $white;
    padding: 0;
    height: 100%;
}

.bottombarcol {
    text-align:center;
    line-height: 15vh;
    background: $forestgreen;
    padding:0;
    @include media-breakpoint-up(lg) {
        display:none;
    }
}
.bottombarcol a:hover {
    color: $white;
    background: $green;
}
.bottombarcol a {
    text-align: center;
    line-height: 15vh;
    width: 100%;
}

/*SIDEBAR*/
.sidebarimage {
    width: 100%;
    height: auto;
    max-width: 50vw;
    position: relative;
    float: left;
}

#sidebar {
    display:none;
    @include media-breakpoint-up(lg) {
        display: flex;
        background: $forestgreen;
        color: #fff;
        transition: all 0.3s;
        min-width: 20vw;
        max-width: 20vw;
        min-height: 50vh;
        flex-direction: column;
        position: relative;
        z-index: 0;
    }
}    

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    background: $forestgreen;
    text-indent: 1vw;
    min-height: $banner_height;
    font-size:2.5vw
}

#sidebar ul.components {
    padding: $side_padding 0;
    border-bottom: 1px solid $forestgreen;
    text-indent: .5vw;
    font-size: 1.5vw;
}

#sidebar ul p {
    color: $setgrey;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: $white;
    background: $green;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: $white;
    background: $green;
}

#footer {
    color: $setgrey;
    font-size:2vh;
}

#headermargins {
    margin-top: $banner_height;
    text-align: bottom;
}