<!DOCTYPE html>

{% extends '../davesdatadepot.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
 
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body> 

    {% block content %}
    {% block backicon %}
    <div>
      <a href="http://www.davidschneiderprojects.com/davesdatadepot">
        <img class="backicon" src="{% static 'img/backicon2.svg' %}" alt=BackIcon>
      </a>
    </div>
    {% endblock %}
    <div class="container">
    	<div class="header">
    		<h1>A Monthly Budget Template.</h1>
    	</div>
      <div></div>
      <div class="websitecodegrid">
        <div>
          <div class="websitecodeheader">
            <a href="https://docs.google.com/spreadsheets/d/16oTM-a2e2or4lKChwrkeDcNSOW1EJltlhvXs7k2w5tc/edit#gid=1594284644" target="_blank">Template with example data</a>
          </div>
          <div class="websitecodeheader">
            <a href="https://docs.google.com/spreadsheets/d/1em1YOG4pupLRoU8AuQhBWdRq9zvVivt1JJ0DD57qptw/edit#gid=1594284644" target="_blank">Blank template</a>
          </div>
          <div class="projectdescriptionlongform">
            
          </div>
        </div>
      </div>
      <div id="disqus_thread">
      </div>
      <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        var disqus_config = function () {
          this.page.url = "http://davidschneiderprojects.com/davesdatadepot/budget_template/";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "budget_template"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://davidschneiderprojects-com.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>
    </div>
    {% endblock %}
  </body>

</html>