<!DOCTYPE html>

{% extends '../davesdatadepot.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
 
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="import" href="https://davidschneiderprojects.s3.amazonaws.com/MountainMapping/map.html">
  </head>

  <body> 

    {% block content %}
    {% block backicon %}
        <div>
          <a href="http://davidschneiderprojects.com/davesdatadepot">
            <img class="backicon" src="{% static 'img/backicon.svg' %}" alt=BackIcon>
          </a>
        </div>
    {% endblock %}
    <div class="container">
    	<div class="header">
    		<h1>Colorado's Highest Peaks.</h1>
    	</div>
      <div>
      </div>
      <div class="websitecodegrid">
        <div class="websitecodeheader">
          <a href="https://mybinder.org/v2/gh/davidschneider04/mapping-mountains/master?filepath=Mountains.ipynb" target="_blank">Interactive code in Binder</a>
        </div>
        <div class="websitecodeheader">
          <h2><a href="https://davidschneiderprojects.s3.amazonaws.com/MountainMapping/map.html" target="_blank">Map only</a></h2>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>

</html>