<!DOCTYPE html>

{% extends '../base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
 
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="import" href="https://davidschneiderprojects.s3.amazonaws.com/MountainMapping/map.html">
  </head>

  <body> 
    {% block content %}
    <div class="container">
    	<div class="header">
    		<h1>Mapping Colorado's Hiking Peaks.</h1>
    	</div>
      <script>
        var content = document.querySelector('link[rel="import"]').import;
        document.body.appendChild(content.cloneNode(true));
      </script>
    </div>
    {% endblock %}
  </body>

</html>