<!DOCTYPE html>

{% extends '../davesdatadepot.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes, maximum-scale=1">
    <style>
      #no-posts {
        display:none !important;
      }
    </style>
  </head>

  <body>
    {% block content %}

    {% block backicon %}
    <div>
      <a href="http://www.davidschneiderprojects.com/davesdatadepot">
        <img class="backicon" src="{% static 'img/backicon2.svg' %}" alt=BackIcon>
      </a>
    </div>
    {% endblock %}

    <div class="container">
    	<div class="header">
    		<h1 style="font-size:5vw">Create Reminders to Avoid Tickets.</h1>
    	</div>
      <div></div>
      <div class="resumedescription">
        Denver gives you a ticket if you don't move your car according to their schedule. There seems to be no easy way to create a reminder for the "3rd Wednesday of the month" in any calendar app I had, so I was happy to find that the city offers to send text message reminders via an online app. This worked great for a few weeks, until it did not, and I found myself with another ticket. Since the city assumes no responsibility for failure of the service it provides, I decided to just make my own service. Hypocritically, it too will assume no liability, because I don't have the money for that.
      </div>
      </div>
      <form class="mediaform" action="{% url 'dsp:parking_tickets' %}" method="post">
        {% csrf_token %}
        <div class="container formgrid">
          {% for field in form  %}
          <div class="d-flex flex-row">
            <div class="col-sm-4">
              {{ field.label_tag }}
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="col-sm-10">
              {{ field }}
            </div>
          </div>
          {% endfor %}
          <div class="d-flex flex-row">
            <div class="col-sm-10">
              <input type="submit" id="search" value="Create Reminders">
            </div>
          </div>
        </div>
      </form>
      <div id="disqus_thread">
      </div>
      <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        var disqus_config = function () {
          this.page.url = "http://davidschneiderprojects.com/davesdatadepot/parking_tickets/";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "parking_tickets"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        // called by disqus
        (function disqus_config() {
          this.callbacks.onReady = [function() {
          // if your code respond to this event to resize the sidebar
          $(window).trigger('resize');
        }]; });
        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://davidschneiderprojects-com.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>
    </div>

    {% endblock %}
  </body>

</html>