<!DOCTYPE html>

{% extends '../davesdatadepot.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
 
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body> 

    {% block content %}
    {% block backicon %}
        <div>
          <a href="http://www.davidschneiderprojects.com/davesdatadepot">
            <img class="backicon" src="{% static 'img/backicon2.svg' %}" alt=BackIcon>
          </a>
        </div>
    {% endblock %}
    <div class="container-fluid">
    	<div class="header">
    		<h1>Auto-format a Resume.</h1>
    	</div>
      <div>
      </div>
      <div class="websitecodegrid">
        <div class="resumedescription">
          The purpose of this project was to create the simplest way possible to edit and share my resume while still maintaining custom formatting. I first created custom styles in Word, saved those as a template, then use Python to apply these styles across a formatted JSON to create a stylized .docx file. Then, I created a very hacky automation using PyAutoGUI to open Word and save the the .docx is converted as .pdf, since it seems like this option preserved the formatting better than anything I could figure out with command line. The .pdf is then converted to an .svg for use in mobile iframes. Finally, both are uploaded to GitHub and AWS to update my personal page and other sites I represent myself on. Special thanks to: <a href="http://www.cityinthesky.co.uk/opensource/pdf2svg/">PDF2SVG</a> and <a href="https://python-docx.readthedocs.io/en/latest/">python-docx</a>
        </div>
        <div class="websitecodeheader">
          Demo:
        </div>
        <video class="demovid" controls>
          <source src="https://davidschneiderprojects.s3.amazonaws.com/ResumeDemo.mp4" type="video/mp4">
        </video>
        <div class="websitecodeheader">
          <a href="https://github.com/davidschneider04/resume/raw/master/BlankTemplate.docx" target="_blank">Word Template</a>
        </div>
        <div class="websitecodeheader" style="margin-bottom:10vh">
          <a href="https://github.com/davidschneider04/resume" target="_blank">Source Code</a>
        </div>
      </div>
      <div id="disqus_thread">
      </div>
      <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        var disqus_config = function () {
          this.page.url = "http://davidschneiderprojects.com/davesdatadepot/resume_from_plaintext/";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "resume_from_plaintext"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://davidschneiderprojects-com.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>
    </div>

    </div>

    {% endblock %}
  </body>

</html>