<!DOCTYPE html>

{% extends '../davesdatadepot.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
 
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes, maximum-scale=1">
    <style>
      #no-posts {
        display:none !important;
      }
    </style>
  </head>

  <body>
    {% block content %}
    
    {% block backicon %}
    <div>
      <a href="http://www.davidschneiderprojects.com/davesdatadepot">
        <img class="backicon" src="{% static 'img/backicon2.svg' %}" alt=BackIcon>
      </a>
    </div>
    {% endblock %}

    <div class="container">
    	<div class="header">
    		<h1>SayWhen— Find a Scene.</h1>
    	</div>
      <div></div>
      <div class="websitecodegrid">
        <div class="websitecodeheader">
          <a href="https://saywhen.app" target="_blank">
            <img class="saywhenlogo" src="https://saywhenstorage.s3-us-west-1.amazonaws.com/static/img/saywhen_logo3.svg" alt="SayWhen App">
          </a>
        </div>
        <div class="websitecodeheader">
          Demo Example:
        </div>
        <video class="demovid" controls>
          <source src="https://saywhenstorage.s3-us-west-1.amazonaws.com/UsageDemo.mp4" type="video/mp4">
        </video>
      </div>
      <div id="disqus_thread">
      </div>
      <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        var disqus_config = function () {
          this.page.url = "http://davidschneiderprojects.com/davesdatadepot/saywhen/";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "saywhen"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        // called by disqus 
        (function disqus_config() {
          this.callbacks.onReady = [function() {  
          // if your code respond to this event to resize the sidebar
          $(window).trigger('resize'); 
        }]; });
        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://davidschneiderprojects-com.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>
    </div>

    {% endblock %}
  </body>

</html>