<!DOCTYPE html>

{% extends './base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
 
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body> 
    {% block content %}
    <div class="container">
    	<div class="header">
    		<h1>Standard resume.</h1>
    	</div>
      <div>
        <iframe src="https://davidschneiderprojects.s3.amazonaws.com/DavidSchneider_Resume_PDF.pdf" style="width:600px; height:500px;"></iframe>
      </div>
      <div>
        Download:
        <ul>
          <li><a href="https://github.com/davidschneider04/JobSearch/raw/master/DavidSchneider_Resume.docx">.docx</a></li>
          <li><a href="https://github.com/davidschneider04/JobSearch/raw/master/DavidSchneider_Resume_PDF.pdf">.pdf</a></li>
        </ul>
      </div>
    </div>
    {% endblock %}
  </body>

</html>

