<!DOCTYPE html>

{% extends './base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
 
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body> 
    {% block content %}
    <div class="container">
    	<div class="header">
    		<h1>An incomplete summary of things I've done.</h1>
    	</div>
      <div>
        Resume:
        <ul>
          <li><a href="https://s3.amazonaws.com/davidschneiderprojects/DavidSchneider_Resume.docx">.docx</a></li>
          <li><a href="https://s3.amazonaws.com/davidschneiderprojects/DavidSchneider_Resume.pdf">.pdf</a></li>
        </ul>
      </div>
    </div>
    {% endblock %}
  </body>

</html>

