<!DOCTYPE html>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}


{% load staticfiles %}

<html lang="en">
  <link rel="stylesheet" href="https://davidschneiderprojects.s3.amazonaws.com/CSS/style55.css" />
  <link rel="icon" href="{% static 'img/favicon.ico' %}"/>

  <head>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130480217-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-130480217-2');
    </script>
    {% block title %}
      <div id="title">
        <title>DavidSchneiderProjects</title>
      </div>
    {% endblock %}
  </head>

  <body>
    <div class="wrapper">
      <!-- Side/bottom bar depending on screen width-->
      {% block sidebar %}
        <nav class="sidebar">
          <div>
            <img class="sidebarimage" src="{% static 'img/me.png' %}" border="0" alt=ImageOfDavid >
          </div>
          <ul class="list-unstyled components" style="list-style-type:none">
              <li><a href="/">Home</a></li>
              <li><a href="/davesdatadepot/">Projects</a></li>
              <li><a href="/accomplishments/">Resume</a></li>
              <li><a href="http://github.com/davidschneider04">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/dts55//">LinkedIn</a></li>
              <li><a href="https://www.kaggle.com/davidschneider04">Kaggle</a></li>
              <li><a href="/contact/">Contact/Hire</a></li>
          </ul>
        </nav>
      {% endblock %}
        <nav class="bottombar">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm bottombarcol">
                  <button type="button" class="btn btn_bottombar"><a href="/davesdatadepot/">Projects</a></button>
                </div>
                <div class="col-sm bottombarcol">
                  <button type="button" class="btn btn_bottombar"><a href="/accomplishments/">Resume</a></button>
                </div>
                <div class="col-sm bottombarcol">
                  <button type="button" class="btn btn_bottombar"><a href="/contact/">Contact/Hire</a></button>
                </div>
              </div>
            </div>
          </nav>
      {% block content %}
      {% endblock %}
    </div>    
  </body>

  {% block footer %}
    <div class="footerclass">
      &copy 2019 David Schneider
    </div>
  {% endblock %}

</html>