<!DOCTYPE html>

{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% load staticfiles %}

<html lang="en">
  <link rel="stylesheet" href="https://davidschneiderprojects.s3.amazonaws.com/CSS/style_j14.css" />
  <link rel="icon" href="https://davidschneiderprojects.s3.amazonaws.com/favicon.png" />

  <head>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130480217-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-130480217-2');
    </script>
    {% block title %}
      <div id="title">
        <title>DavidSchneiderProjects</title>
      </div>
    {% endblock %}
  </head>

  <body>
    <div class="wrapper">

      {% block homeicon %}
      <div>
        <a href="http://davidschneiderprojects.com">
          <img class="homeicon" src="{% static 'img/homeicon.svg' %}" alt=HomeIcon>
        </a>
      </div>
      {% endblock %}

      <!-- Side/bottom bar depending on screen width-->
      {% block sidebar %}
        <nav class="sidebar" id="sideBar">
          <div>
            <img class="sidebarimage" src="https://davidschneiderprojects.s3.amazonaws.com/me4.svg" border="0" alt=ItMe>
          </div>
          <ul class="list-unstyled components" style="list-style-type:none">
              <li><a href="/">Home</a></li>
              <li><a href="/davesdatadepot/">Portfolio</a></li>
              <li><a href="/resume/">Resume</a></li>
              <li><a href="http://github.com/davidschneider04" target="_blank">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/davidtschneider/" target="_blank">LinkedIn</a></li>
              <li><a href="https://www.kaggle.com/davidschneider04/" target="_blank">Kaggle</a></li>
              <li><a href="/contact/">Contact / Hire</a></li>
          </ul>
        </nav>
      {% endblock %}
      {% block bottombar %}
        <nav class="bottombar" id="bottomBar">
            <div class="container-fluid">
              <div class="collapsebuttonrow_bottombar">
                <button type="button" class="btn collapsebuttonrow_bottombar_btn" data-toggle="collapse" data-target=".row, .threecolcontainer, .bottombarcol, .chevrondown, .chevronup">
                  <img class="chevrondown collapse show" src="{% static 'img/chevron.svg' %}">
                  <img class="chevronup collapse" src="{% static 'img/chevron_up.svg' %}">
                </button>
              </div>
              <div class="row bottombarrow collapse show">
                <button type="button" class="btn btn_bottombar">
                  <a href="/davesdatadepot/">Portfolio</a>
                </button>
              </div>
              <div class="row bottombarrow collapse show">
                <button type="button" class="btn btn_bottombar">
                  <a href="/resume/">Resume</a>
                </button>
              </div>
              <div class="row bottombarrow collapse show">
                <button type="button" class="btn btn_bottombar">
                  <a href="/contact/">Contact / Hire</a>
                </button>
              </div>
              <div class="threecolcontainer collapse show">
                <div class="bottombarcol collapse show">
                  <button type="button" class="btn btn_bottombar">
                    <a href="https://github.com/davidschneider04" target="_blank">GitHub</a>
                  </button>
                </div>
                <div class="bottombarcol collapse show">
                  <button type="button" class="btn btn_bottombar">
                    <a href="https://www.linkedin.com/in/dts55/" target="_blank">LinkedIn</a>
                  </button>
                </div>
                <div class="bottombarcol collapse show">
                  <button type="button" class="btn btn_bottombar">
                    <a href="https://www.kaggle.com/davidschneider04/" target="_blank">Kaggle</a>
                  </button>
                </div>
              </div>
            </div>
          </nav>
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>
  </body>

  {% block footer %}
    <div class="footerclass">
      &copy 2019 David Schneider
    </div>
  {% endblock %}

</html>