<!DOCTYPE html>

{% extends './base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
 
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body> 
    {% block content %}
    <div class="container">
    	<div class="header">
    		<h1>Contact information.</h1>
    	</div>
      <div></div>
      <div class='ct'>
        <span>d</span>
        <span>a</span>
        <span>v</span>
        <span>i</span>
        <span>d</span>
        <span>s</span>
        <span>c</span>
        <span>h</span>
        <span>n</span>
        <span>e</span>
        <span>i</span>
        <span>d</span>
        <span>e</span>
        <span>r</span>
        <span>0</span>
        <span>4</span>
        <span>@</span>
        <span>g</span>
        <span>m</span>
        <span>a</span>
        <span>i</span>
        <span>l</span>
        <span>.</span>
        <span>c</span>
        <span>o</span>
        <span>m</span>
      </div>
    </div>
    {% endblock %}
  </body>

</html>

