<!DOCTYPE html>

{% extends './base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
 
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body> 
    {% block content %}
    <div class="projects_container">
    	<div class="header">
    		<h1>Data, insights, tinkering.</h1>
    	</div>
      <div class="project_entry">
        <h2><a href="https://saywhen.app">SayWhen</a></h2>
        <p>Do you have a favorite line from a favorite TV show or movie, but don't remember what episode or time it's from? Let SayWhen find the exact spot and link you to it!</p>
      </div>
      <div class="project_entry">
        <h2><a href="/davesdatadepot/mapping_mountains/">Mapping Colorado Mountain Peaks</a></h2>
      </div>
    </div>
    {% endblock %}
  </body>

</html>

