<!DOCTYPE html>

{% extends './base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
 
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    {% block backicon %}
    {% endblock %}
    {% block homeicon %}
    {% endblock %}
    {% block content %}
    <div class="biocontainer">
    	<div class="header">
    		<h1>Hi there, I'm Dave.</h1>
    	</div>
      <h2 class="bioheader">About me:</h2>
        <ul class="biolist">
          <li>Living in Denver</li>
          <li>Currently seeking employment</li>
          <li>5+ years as a data analyst</li>
          <li>Work mainly in Python</li>
          <li><a href="http://davidschneiderprojects.com/davesdatadepot">
            <img src="{% static 'img/guh.ico' %}" alt=BackIcon>
          </a></li>
          <li><a href="http://davidschneiderprojects.com/davesdatadepot">
            <img src="https://davidschneiderprojects.s3.amazonaws.com/talkicon.png" alt=BackIcon>
          </a></li>
        </ul>
    </div>
    </div>
    {% endblock %}
  </body>

</html>

