<!DOCTYPE html>

{% extends './base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
 
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body> 
    {% block backicon %}
    {% endblock %}
    {% block content %}
    <div class="resumecontainer">
    	<div class="header">
    		<h1>Standard resume.</h1>
      </div>
      <div></div>
      <div>
        <p class="resumedownload">
          Download:&nbsp;<a href="https://github.com/davidschneider04/resume/raw/master/DavidSchneiderResume.docx">.docx</a>,&nbsp;<a href="https://github.com/davidschneider04/resume/raw/master/DavidSchneiderResume.pdf">.pdf</a>
        </p>
        <button type="button" class="resumebutton">
          <a href="http://www.davidschneiderprojects.com/davesdatadepot/resume_from_plaintext/">Template</a>
        </button>
      </div>
      <div class="resume_iframe">
        <iframe class="resume_iframe" src="https://davidschneiderprojects.s3.amazonaws.com/DavidSchneiderResume3.pdf"></iframe>
      </div>
    </div>
    {% endblock %}
    
  </body>

</html>

