<!DOCTYPE html>

{% extends 'base.html' %}

<html>

  <body>
    {% block homeicon %}
    {% endblock %}

    {% block content %}
    
		<div class="biocontainer">
	    <div class="header">
		    <h3>Your princess is in another castle</h3>
	    </div>
	    <div></div>
	    <div class="websitegrid">
		    <div>
			    <div class="contactemail">
							Alas, there is nothing here. Perhaps you are mistaken... or perhaps you are trying to be naughty ;)
     			</div>
		    </div>
	    </div>
    </div>

    {% endblock %}

  </body>

</html>
