<!DOCTYPE html>

{% extends 'base.html' %}

<html lang="en" xml:lang="" translate="no">

  <body>
    {% block homeicon %}
    {% endblock %}

    {% block content %}
    <div class="biocontainer">
    	<div class="header">
    	  <h1>Contact information.</h1>
    	</div>
      <div></div>
      <div class="websitecodegrid">
        <div>
          <div class="contactemail">
            <a href="mailto:david@davidtschneider.com">david@DavidTSchneider.com</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>

</html>

