<!DOCTYPE html>

{% extends 'base.html' %}

<html lang="en">

  <body>
    {% block backicon %}
    {% endblock %}
    {% block homeicon %}
    {% endblock %}

    {% block content %}
    <div class="biocontainer">
      <div class="header">
    	<h1>
	  Hi there, I'm Dave.
	</h1>
      </div>
      <h2 class="bioheader">
	About me:
      </h2>
      <ul class="biolist">
      	<li>8+ years as a data analyst/engineer</li>
        <li>Work mainly in Python and SQL</li>
        <li>Living in Denver</li>
      </ul>
    </div>
    {% endblock %}

  </body>

</html>

