<!DOCTYPE html>

{% extends 'base.html' %}

<html lang="en">

  <body>
    {% block backicon %}
    {% endblock %}
    {% block homeicon %}
    {% endblock %}

    {% block content %}
    <div class="biocontainer">
      <div class="header">
    	<h1>
	  Hey, I'm Dave.
	</h1>
      </div>
      <h2 class="bioheader">
	About me:
      </h2>
      <ul class="biolist">
      	<li>Certified AWS professional specializing in data architecture</li>
	<li>12+ years as a Data Engineer / Analyst</li>
	<li>Perpetually curious and general nerd</li>
        <li>Living in Denver</li>
      </ul>
    </div>
    {% endblock %}

  </body>

</html>

