<!DOCTYPE html>

{% extends 'base.html' %}

<html lang="en">


  <body>

  {% block content %}
    <div class="container-fluid">
      <div class="header">
    	<h1>Standard resume.</h1>
      </div>
      <div></div>
      <div>
        <p class="resumedownload">
          Download:&nbsp;
	  <a href="https://github.com/davidschneider04/resume/raw/master/DavidSchneiderResume.docx">.docx</a>,&nbsp;
	  <a href="https://github.com/davidschneider04/resume/raw/master/DavidSchneiderResume.pdf">.pdf</a>
        </p>
      </div>
      <br>
      <div class="resume_iframe">
        <iframe class="resume_iframe" src="img/DavidSchneiderResume.pdf"></iframe>
      </div>
      <div class="resume_svg_cont">
        <img class="resume_svg" src="img/DavidSchneiderResume.svg" alt="Resume">
      </div>
    </div>
  {% endblock %}

  </body>

</html>

